asgiref==3.7.2
autopep8==2.0.4
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
flake8==6.1.0
idna==3.4
mccabe==0.7.0
mercadopago==2.2.1
mypy==1.5.1
mypy-extensions==1.0.0
pycodestyle==2.11.0
pyflakes==3.1.0
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
upgrade-requirements==1.7.0
urllib3==2.0.4
