<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebHook - Mercado Pago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="conteiner text-center mt-4">
        <h1>All payments are made in test mode</h1>
        <h3>The mercado Pago in test mode only allows you to create payments with a canceled and pending status.</h3>
        <hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">E-mail</th>
            <th scope="col">Product</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr>
              <th scope="row">{{ payment.id }}</th>
              <td>{{ payment.payment_id }}</td>
              <td>{{ payment.email }}</td>
              <td>{{ payment.description }}</td>
              <td>{{ payment.payment_method_id }}</td>
              <td>
                {% if payment.status == 'cancelled' %}
                    <span class="badge bg-danger">{{ payment.status }}</span>
                {% elif payment.status == 'pending' %}
                    <span class="badge bg-warning">{{ payment.status }}</span>
                {% else %}
                    <span class="badge bg-success">{{ payment.status }}</span>
                {% endif %}

              </td>
              <td>{{ payment.amount }}</td>
            </tr>
          {%empty%}
            <tr>
              <td colspan="7">No payments found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr />
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'methodPix' %}" class="btn btn-primary" >Create Payment Test</a>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</html>
